In [1]:
var1=(1,2,"three")
print(var1, type(var1))

(1, 2, 'three') <class 'tuple'>

In [3]:
var1[1]=3

TypeError: 'tuple' object does not support item assignment

In [4]:
a=(4)
print(type(a))

<class 'int'>

In [5]:
a=(4,)
print(type(a))

<class 'tuple'>

In [6]:
var=("파", "이", "썬")
where_is_2=var.index("이")
print(where_is_2)

1

In [7]:
var=(1,2,3,3,2)
how_many_2=var.count(2)
print(how_many_2)

2

In [8]:
var={1,2,"three"}
print(var[1])

TypeError: 'set' object is not subscriptable

In [9]:
var={(1,2,), "three"}
print(var)

{'three', (1, 2)}

In [10]:
var={[1,2], "three"}
print(var)

TypeError: unhashable type: 'list'

In [12]:
students_2022=("kim", "lee", "park")
students_2023=("kim", "park", "hong")
all_students=students_2022+students_2023
unique_students=set(all_students)
print(all_students)

('kim', 'lee', 'park', 'kim', 'park', 'hong')

In [14]:
students_2022={"kim", "lee", "park"}
students_2023={"kim", "park", "hong"}
result=students_2022.union(students_2023)
print(result)

{'lee', 'kim', 'park', 'hong'}

In [15]:
result1=students_2022.difference(students_2023)
print(result1)

{'lee'}

In [16]:
result2=students_2023.difference(students_2022)
print(result2)

{'hong'}

In [17]:
d=dict()
d['Park']='010-1234-5678'
d['Kim']='010-9876-5432'
print(d)

{'Park': '010-1234-5678', 'Kim': '010-9876-5432'}

In [18]:
score=dict()
score['Park']=100
score['Lee']=90
score['Yoon']=80
print(score["Park"])

100

In [19]:
result2=score.get("Park")
print(result2)

100

In [20]:
print(score)

{'Park': 100, 'Lee': 90, 'Yoon': 80}

In [21]:
values=score.values()
print(values)

dict_values([100, 90, 80])

In [22]:
print(tuple(values))

(100, 90, 80)

In [24]:
keys=score.keys()
print(tuple(keys))

('Park', 'Lee', 'Yoon')

In [25]:
items=score.items()
print(items)

dict_items([('Park', 100), ('Lee', 90), ('Yoon', 80)])

In [26]:
print(list(items))
print(tuple(items))

[('Park', 100), ('Lee', 90), ('Yoon', 80)]
(('Park', 100), ('Lee', 90), ('Yoon', 80))

In [27]:
item=score.setdefault("Park", 99)
print(score, item)

{'Park': 100, 'Lee': 90, 'Yoon': 80} 100

In [28]:
item=score.setdefault("Hong", 99)
print(score, item)

{'Park': 100, 'Lee': 90, 'Yoon': 80, 'Hong': 99} 99

In [29]:
names="Park Kim Lee"
name_list=names.split()
print(names, name_list)

Park Kim Lee ['Park', 'Kim', 'Lee']

In [30]:
names_str=",".join(names)
print(names_str)

P,a,r,k, ,K,i,m, ,L,e,e

In [31]:
name="Park", "Sangkeun"
naming_list=",".join(name)
print(naming_list)

Park,Sangkeun

In [32]:
names=['Park', 'Kim']
s=str(names)
print(s, type(s))

['Park', 'Kim'] <class 'str'>

In [33]:
print(s[0:4])

['Pa

In [34]:
names={"Park":1, "Lee":2}
s=str(names)
print(s, type(s))

{'Park': 1, 'Lee': 2} <class 'str'>

In [35]:
print(s[0:4])

{'Pa

In [36]:
L1=[1,2,3,{4,5},6]
L2=L1[:]
L1[3].remove(4)
print(L1)

[1, 2, 3, {5}, 6]

In [37]:
L1=[1,2,{"Park":90, "Lee":80}]
L2=L1[:]
L1[2]["Park"]=100
print(L1)

[1, 2, {'Park': 100, 'Lee': 80}]

In [38]:
print(L2)

[1, 2, {'Park': 100, 'Lee': 80}]