In [1]:
s1="Hello World!"
s2=s1[-5:2]
print(s2)

In [4]:
s3=s1[-4:-11]
print(s3)

In [5]:
s1="NewJeans"
s2=s1.upper()
print(s1, s2)

NewJeans NEWJEANS

In [12]:
s2=s1[-1].upper()
print(s2)
s3=s1[:-1].lower()
print(s3)
s4=s3+s2
print(s4)

S
newjean
newjeanS

In [13]:
a="Hello#"
b="Hello#"
print(a==b)
print(a is b)

True
False

In [14]:
var1=["안녕", "World", [1,2,3], 3.14]
print(var1[2], type(var1[2]))

[1, 2, 3] <class 'list'>

In [15]:
var1[1]="Hello"
print(var1)
print(type(var1))

['안녕', 'Hello', [1, 2, 3], 3.14]
<class 'list'>

In [16]:
students=["AKMU", "Newjeans", "IVE", "YOUNHA"]
students[1:-1]="파이썬"
print(students)

['AKMU', '파', '이', '썬', 'YOUNHA']

In [17]:
var1=[1,2,3,]
var2=[4,5,6,]
var1.extend(var2)
print(var1)

[1, 2, 3, 4, 5, 6]

In [18]:
var1=(1,2,"three")
print(var1, type(var1))

(1, 2, 'three') <class 'tuple'>

In [19]:
var1[0]

1

In [20]:
L=[1,2,]
var={L, "three"}

TypeError: unhashable type: 'list'

In [21]:
L=(1,2,)
var={L, "three"}

In [22]:
print(var)

{'three', (1, 2)}

In [24]:
d=dict()
d['Park']='010-1234-5678'
d['Kim']='010-1111-2222'
print(d)

{'Park': '010-1234-5678', 'Kim': '010-1111-2222'}

In [25]:
scores={"Park":100, "Kim":90, "Moon":80}
result=scores.get("Park")
print(result)

100

In [26]:
print(scores)

{'Park': 100, 'Kim': 90, 'Moon': 80}

In [27]:
L=[1,2,3,4,5]
D={"Park":100, "Kim":0}
print(D)

{'Park': 100, 'Kim': 0}

In [28]:
L[1:-1]=D
print(L)

[1, 'Park', 'Kim', 5]

In [29]:
A="Hello"
A[0]=A[0].lower()
print(A)

TypeError: 'str' object does not support item assignment

In [31]:
a=2
b=2
print(a is b)
print(a==b)

True
True

In [32]:
a="Hello"
b="Hello"
print(a is b)
print(a==b)

True
True

In [33]:
a="Hello"
b=a
print(a is b)
print(a==b)

True
True

In [34]:
a=[1,2,3,4]
b=a[:]
print(a is b, a==b)

False True

In [36]:
a=[1,2,3,4]
b=a.copy()
print(a is b, a==b)

False True

In [37]:
a=[1,2,3,4]
b=a
print(a is b, a==b)

True True

In [38]:
students=['AKMU', "NewJeans", "IVE", "Younha"]
students[1:-1]=["aespa", "STAYC", "EXO"]
print(students)

['AKMU', 'aespa', 'STAYC', 'EXO', 'Younha']

In [39]:
var=(1,2,"Three")
var[-1]=var[:]
print(var)

TypeError: 'tuple' object does not support item assignment

In [40]:
d={}
d['Park']='100'
length=len(d['Park'])
print(length)

3

In [43]:
score={"kim":80}
score[("Park", "lee")]=100
print(score["Park", "lee"]+1)

101

In [42]:
S="Hello"
L=["H","e","l", "l","o",S]
S[-1]=L[-2]
print(S)

TypeError: 'str' object does not support item assignment

In [44]:
var=(1,2,"three")
var[-1]=var[:]
print(var)

TypeError: 'tuple' object does not support item assignment

In [1]:
L=[1,2]
S1={3,4,}

In [2]:
print(True or True)

True

In [3]:
print(True or 1)

True

In [4]:
print(1 or True)

1

In [5]:
print(False and True)

False

In [6]:
print(0 and False)

0

In [7]:
score=dict()
student1="Park"
team1=(student1,)
score[team1]=100
print(score[student1]==0)

KeyError: 'Park'

In [9]:
L1=[1,2,{"Park":50}]
L2=L1.copy()
L1[-1]["Kim"]=100
print(L2)

[1, 2, {'Park': 50, 'Kim': 100}]

In [10]:
def plus(a,b):
    c=a+b
result=plus(1,2)
print(result)

None

In [11]:
def plus(a,b,c):
    n=a+b+c
    return None
result=plus(1,2,"3")
print(result)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
def calculation(n):
    n1=n+1
    n2=n+2
    return n1, n2
var=calculation(0)
print(len(var), type(var))

2 <class 'tuple'>

In [13]:
def test(n: int)->int:
    return
print(test("Park"))

None

In [14]:
def func(first, second, *args):
    print(first)
    print(second)
    print(args)

func(1,2,3,4,5)

1
2
(3, 4, 5)

In [15]:
a=(1,2,3,)
print(len(a))

3

In [16]:
a=(1,2,3)
print(len(a))

3

In [19]:
def multiply(*args):
    result=1
    for num in args:
        result*=num
    print(result)

In [20]:
multiply(1,2,3,4)

24

In [21]:
def func(msg,**kwargs):
    print(msg)
    print(kwargs)

In [22]:
func("Hi", name="Park", age=20)

Hi
{'name': 'Park', 'age': 20}

In [23]:
def func(a,*b,**c):
    print(a)
    print(b)
    print(c)

func(1,2,3,name='Park')

1
(2, 3)
{'name': 'Park'}

In [24]:
def course_info(**course):
    for key, value in course.items():
        print(f"{key} is {value}.")
course_info(name="Python")
course_info(name="Python", professor="Park")
course_info(name="Python", professor="Park", students=180)

name is Python.
name is Python.
professor is Park.
name is Python.
professor is Park.
students is 180.

In [25]:
L=[1,2,3]
L[1:1]=[4,5]
print(L)

[1, 4, 5, 2, 3]

In [ ]:
def test(a:list)->None:
    for i in a:
        a.append(1)
    return None
print(test([1,1,1]))

In [2]:
def function1(value):
    total=0
    for i in value:
        total+=i
    return total

L=[1,2,3,4,5]
result=function1(L)
print(result)

15

In [3]:
def function2(value):
    total=0
    for i in value:
        if i%2==0:
            total+=i
    return total
    
L=[1,2,3,4,5]
result=function2(L)
print(result)

6

In [5]:
def function3(value):
    for i in value:
        total=0
        if len(value)>=2:
            answer=value[-1]+value[-2]
            return answer
        else:
            return -1
    

L=[1,2,3,4,5]
result=function3(L)
print(result)

9

In [1]:
s="Hello"
s=s+"World"
print(s)

HelloWorld

In [2]:
length=len(s[-5:0])
print(length)

0

In [3]:
length=len(s[0:-5])
print(length)

5

In [4]:
why=s[0:-5]
print(why)

Hello

In [5]:
print(s[-4:-7])

In [6]:
print(s[-7:-4])

loW

In [7]:
len([None])

1

In [8]:
def test(n:int)->int:
    return
print(test("Park"))

None

In [9]:
def func(a,b,*c):
    if c:
        return c
    else:
        return a
    return b
result=func(1,2)
print(result)

1

In [11]:
def func(*a,b):
    return a,b
print(func(1,b=2))

((1,), 2)

In [ ]:
def test(a:list)->None:
    for i in a:
        a.append(1)
    return None
print(test([1,1,1]))