In [1]:
students=["Park", "Kim", "Lee", "Hong", "Kang"]
for student in students:
    print(student)
print(student)

Park
Kim
Lee
Hong
Kang
Kang

In [2]:
s="Python"
for character in s:
    character=character.upper()
    print(character)

P
Y
T
H
O
N

In [3]:
student_no={"Park":1, "Kim":2, "Lee":3}
for name in student_no.keys():
    print(name)
print(name)

Park
Kim
Lee
Lee

In [4]:
student_no={"Park":1, "Kim":2, "Lee":3}
for item in student_no.items():
    print(item)
print(item)

('Park', 1)
('Kim', 2)
('Lee', 3)
('Lee', 3)

In [5]:
student_no={"Park":1, "Kim":2, "Lee":3}
for name, number in student_no.items():
    print(name, number)
print(name, number)

Park 1
Kim 2
Lee 3
Lee 3

In [9]:
student_no={"Park":1, "Kim":2, "Lee":3}
for name, number in student_no.items():
    print(f"{name}'s student number is {number}.")
print(name, number)

Park's student number is 1.
Kim's student number is 2.
Lee's student number is 3.
Lee 3

In [10]:
for a,b,c in [(1,2,3), (4,5,6), (7,8,9)]:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

In [11]:
students=["Park", "Kim", "Lee", "Hong", "Kang"]
for i in range(1,5):
    print(students[i])

Kim
Lee
Hong
Kang

In [13]:
for i in range(0,3):
    print("i value is: ", i)
    for j in range(3,6):
        print("i= ", i,", j=", j, ", i*j= ", i*j)

i value is:  0
i=  0 , j= 3 , i*j=  0
i=  0 , j= 4 , i*j=  0
i=  0 , j= 5 , i*j=  0
i value is:  1
i=  1 , j= 3 , i*j=  3
i=  1 , j= 4 , i*j=  4
i=  1 , j= 5 , i*j=  5
i value is:  2
i=  2 , j= 3 , i*j=  6
i=  2 , j= 4 , i*j=  8
i=  2 , j= 5 , i*j=  10